# Python virtual environment
venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
egg-info/
*.egg

# IDE or editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variable files
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log
